<p id="notice"><%= notice %></p>

<% if @patient.photo.attached? %>
<img src="<%= url_for(@patient.photo) %>" />
<% end %>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= l @patient.birthdate if @patient.birthdate %>
</p>

<h3>Address</h3>
<p>
  <strong>Street:</strong>
  <%= @patient.address.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @patient.address.number %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.address.city %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
